<!-- 
    앞으로 html문을 작성할 때 lang은 en이 아니라 kor로 바꿔줘
    head부분에 참조할 css를 link 태그로 연결하면 돼. 예시로 미리 index.css랑 연결했어
    body부분에는 제목, 글, 이미지 등 사용자에게 보여지는 모든 것들을 작성하면 돼
    
    코드 작성 시, 이 주석문은 지워주길 바람~~
    - 채은 -
-->

<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <title>PlanD</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/index.css"> 
</head>
<body>
    
</body>
</html>