<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <title>PlanD</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/index.css"> 
</head>
<body>
    <div class="header">
        <a href="index.html" >    <!-- index.html 을 /로 수정함 -->
            <img id="logo" src="../public/logo.png" width="36px"  >
            <img id="title" src="../public/title.png" width="80px"  >
        </a>
        <div class="login">
            <a href="login.html">   <!-- login.html 을 /login 으로 수정함 -->
                로그인
            </a>
            <a href="join.html">
                회원가입
            </a>
        </div>
    </div>

    <div class="p1">
        <div id="grid">

            <div><img src="../public/photo.png" width="80%" ></div>
            <div>
                <hr id="hr1">
                <h1><span id="PC2">당뇨</span>를 PLAN하다.<br>
                <span id="PC1">당신</span>을 PLAN하다.</h1>
                <h2>간편한 기록을 통해 체계적으로 써내려가는<br>
                나의 당뇨이야기
            </h2>
            </div>
        </div>
        
    </div>
    <div class="p2" >
        <div id="grid">
            <div id="row">
                <img id="checkP" src="../public/check.png" width="30%" >
                <img id="pregnantP" src="../public/pregnant.png" width="30%" >
            </div>
            <div>
                <hr id="hr2">
                <h1 >당신이 누구든지</h1>
                <h2 >
                    혈당을 빠르고 쉽게 기록하여<br>
                    사랑하는 나의 소중한 가족을<br>
                    지킬 수 있습니다.
                </h2></div>    
        </div>
    </div>

    <div class="p3">
        <div id="grid">
            <div>
                <hr id="hr3">
                <h1 class="left">
                    깔끔하게 잘<br>
                    알아서 딱!
                </h1>   
                <h2 class="left">
                    매일매일 기록만 해도<br>
                    한 눈에 변화를 체크할 수 있는<br>
                    보고서가 완성됩니다.
                </h2>
            </div>
            <div>
                <img id="report" src="../public/report.png" width="90%">
            </div>
        </div>
    </div>

    <div class="p4" >
        <div id="grid">
            <div >
                <img id="excel" src="../public/excel.png" width="80%" >
                <img id="doctor" src="../public/doctor.png" width="45%">
            </div>
            <div>
                <hr id="hr4">
                <h1>의료진에게도 한 눈에</h1>
                <h2>
                    나의 기록을 빠짐없이<br>
                    의료진에게 제출할 수 있도록<br>
                    문서화합니다.
                </h2>
            </div>
        </div>
    </div>
</body>