<!DOCTYPE html>
<html lnag="ko">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/join.css">
       
    </head>
    <body>
        <!-- header -->
        <div id="header">
            <a href="/" ><img src="/title.png" id="logo"></a>
        </div>

        <!-- wrapper -->
        <div id="wrapper">

            <!-- content-->
            <div id="content">
                <form action="/auth/join" method="post">
                    <!-- Email -->
                    <div>
                        <h3 class="join_title"><label for="email">아이디</label></h3>
                        <span class="box int_id">
                            <input id="input-box" type="email" name="email" maxlength="40" autocomplete="on" required>
                        </span>
                    </div>

                    <!-- PW1 -->
                    <div>
                        <h3 class="join_title"><label for="pswd1">비밀번호</label></h3>
                        <span class="box int_pass">
                            <input id="pswd1" type="password" name="password" maxlength="100" required>
                        </span>
                    </div>

                    <!-- PW2 -->
                    <div>
                        <h3 class="join_title"><label for="pswd2">비밀번호 재확인</label></h3>
                        <span class="box int_pass_check">
                            <input id="pswd2" type="password" maxlength="100" onchange='passwordCheck()' required>
                        </span>
                        <div id='result'></div>
                    </div>

                    <!-- NAME -->
                    <div>
                        <h3 class="join_title"><label for="name">이름</label></h3>
                        <span class="box int_name">
                            <input id="input-box" type="text" name="name" maxlength="20" autocomplete="on" required>
                        </span>
                    </div>

                    <!-- BIRTH -->
                    <div>
                        <h3 class="join_title"><label for="yy">생년월일</label></h3>

                        <div id="bir_wrap">
                            <!-- BIRTH_YY -->
                            <div id="bir_yy">
                                <span class="box">
                                    <input type="number" id="input-box" name="birthYear" maxlength="4" placeholder="년(4자)" autocomplete="on" required>
                                </span>
                            </div>

                            <!-- BIRTH_MM -->
                            <div id="bir_mm">
                                <span class="box">
                                    <select id="mm" name="birthMonth" required>
                                        <option hidden>월</option>
                                        <option value="01">1</option>
                                        <option value="02">2</option>
                                        <option value="03">3</option>
                                        <option value="04">4</option>
                                        <option value="05">5</option>
                                        <option value="06">6</option>
                                        <option value="07">7</option>
                                        <option value="08">8</option>
                                        <option value="09">9</option>                                    
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </span>
                            </div>

                            <!-- BIRTH_DD -->
                            <div id="bir_dd">
                                <span class="box">
                                    <input type="number" id="input-box" name="birthDate" min="1" max="31" placeholder="일" autocomplete="on" required>
                                </span>
                            </div>
                        </div> 
                    </div>

                    <!-- GENDER -->
                    <div>
                        <h3 class="join_title"><label for="gender">성별</label></h3>
                        <span class="box gender_code">
                            <select id="gender" name = "gender" required>
                                <option hidden>성별</option>
                                <option value="남자">남자</option>
                                <option value="여자">여자</option>
                            </select>                           
                        </span>
                    </div>

                    <!-- JOIN BTN-->
                    <div class="btn_area">
                        <button id="btnJoin" type="submit" class="btn">
                            <span>가입하기</span>
                        </button>
                    </div>
                </form>  
            </div> 
            <!-- content-->
        </div> 
        <!-- wrapper -->

        <script>
            window.onload = () => {
                if (new URL(location.href).searchParams.get('error')) {
                    alert('이미 존재하는 이메일입니다.');
                }
            } 

            function passwordCheck()  {
                const pswd1 = document.getElementById('pswd1').value;
                const pswd2 = document.getElementById('pswd2').value;

                if (pswd1 == pswd2)
                    document.getElementById("result").innerText = "확인되었습니다.";
                else
                    document.getElementById("result").innerText = "비밀번호가 일치하지 않습니다.";
            }
        </script>
        
    </body>
</html>