<!doctype HTML>
<html lnag="ko">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/login.css">
	<script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="main-container">
		<div class="main-wrap">
		<header>

			<div class="logo-wrap">
				<a href="/" ><img src="/title.png"></a>
			</div>
		</header>
		<section class="login-input-section-wrap">
			<form action="/auth/login" method="post">
				<div class="login-input-wrap">	
					<input placeholder="아이디" id="email" type="email" name="email" required autofocus>
				</div>
				<div class="login-input-wrap password-wrap">	
					<input placeholder="비밀번호" id="password" type="password" name="password" required>
				</div>
				<div class="login-button-wrap">
					<button id="login" type="submit" class="btn">로그인</button>
				</div>
			</form>
		</section>
		<section class="Easy-sgin-in-wrap">
			<p class="forget-msg">아이디 찾기&nbsp;&nbsp; | &nbsp;&nbsp;비밀번호 찾기&nbsp;&nbsp; | &nbsp;&nbsp;회원가입</p>
			<br><br><br>
			<h2>간편 로그인</h2>
			<ul class="sign-button-list">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<li><i><a href="/auth/kakao" class="btn"><img id="kakao" src="/카카오1.jpg"></a></i></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<li><i><img id="circle" src="/네이버1.png" width="80px" height="60px"></i></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<li><i><img id="circle" src="/구글1.png" width="80px" height="60px"></i></li>
			</ul>
		</section>
		</div>
	</div>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		window.onload = () => {
			if (new URL(location.href).searchParams.get('loginError')) {
				alert(new URL(location.href).searchParams.get('loginError'));
			}
		};
	</script>
</body>
</html>
