<!doctype HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>PlanD로그인</title>
	<link rel="stylesheet" href="/login.css">
	<script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="main-container">
		<div class="main-wrap">
		<header>

			<div class="logo-wrap">
				<img src="/title.png">
			</div>
		</header>
		<section class="login-input-section-wrap">
			<div class="login-input-wrap">	
				<input placeholder="아이디" type="text"></input>
			</div>
			<div class="login-input-wrap password-wrap">	
				<input placeholder="비밀번호" type="password"></input>
			</div>
			<div class="login-button-wrap">
				<button>로그인</button>
			</div>
		</section>
		<section class="Easy-sgin-in-wrap">
			<p class="forget-msg">아이디 찾기&nbsp;&nbsp; | &nbsp;&nbsp;비밀번호 찾기&nbsp;&nbsp; | &nbsp;&nbsp;회원가입</p>
			<br><br><br>
			<h2>간편 로그인</h2>
			<ul class="sign-button-list">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<li><i><img id="circle" src="/카카오1.jpg" width="80px" height="60px"></i></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<li><i><img id="circle" src="/네이버1.png" width="80px" height="60px"></i></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<li><i><img id="circle" src="/구글1.png" width="80px" height="60px"></i></li>
			</ul>
		</section>
		</div>
	</div>
</body>
</html>