<!doctype html>
<html lang="kor">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <link href="/report.css" rel="stylesheet" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <!-- sidebar -->
        <div class="sidebarMenu">
          <div class="sidebar-header">
            <a href="/">
              <img id="logo" src="/logo.png" width="36px">
              <img id="title" src="/title.png" width="80px">
            </a>
            <hr>
            <h3 class="welcome">Welcome</h3>
            <img src="https://mblogthumb-phinf.pstatic.net/20150403_86/e2voo_14280514283502gas9_JPEG/kakako-00.jpg?type=w2" alt="" width="64" height="64" class="rounded-circle">
            <div class="profile">
              <div class="user-name">{{ user.name }}</div>
              <img class="edit" src="/pencil.png" width="13px" height="13px">
            </div>
            {{user.email}}
          </div>
          <ul class="flex-column">
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">
              <span data-feather="home" class="align-text-bottom"></span>
              홈
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text" class="align-text-bottom"></span>
                보고서
              </a>
            </li>
            <li class="nav-item">
              <label class="nav-link" for="menu">
                <span data-feather="edit-3" class="align-text-bottom"></span>
                입력
              </label>
              <input id="menu" type="checkbox">
              <ul class="input-list">
                <li><a class="nav-link" href="#">혈당</a></li>
                <li><a class="nav-link "href="#">식단</a></li>
                <li><a class="nav-link" href="#">운동량</a></li>
                <li><a class="nav-link" href="#">투약</a></li>
                <li><a class="nav-link" href="#">혈압</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="settings" class="align-text-bottom"></span>
                설정
              </a>
            </li>
          </ul>
          <div class="nav-footer">
            <hr>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="log-out" class="align-text-bottom"></span>
                로그아웃
              </a>
            </li>
          </div>
        </div>

        <!-- dashboard -->
        <div class="user-info-box">
          <span data-feather="user" class="align-text-bottom"></span>
        </div>

        <div class="today-info-box">
          <h3>오늘의 기록</h3>
          
        </div>

        <div class="bloodSugar-info-box">
          <h3>혈당 그래프</h3>
          
        </div>

        <div class="diet-info-box">
          <h3>식단 그래프</h3>
          
        </div>

        <div class="exercise-info-box">
          <h3>운동량</h3>
          
        </div>

        <div class="dose-info-box">
          <h3>투약량</h3>
        </div>

        <div class="bloodPressure-info-box">
          <h3>혈압 그래프</h3>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <script src="dashboard.js"></script>
  </body>
</html>